@import url('https://fonts.googleapis.com/css2?family=Khula&display=swap');

body {
    background-color: yellow;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    font-family: 'Khula', sans-serif;
}